<app-navbar-left></app-navbar-left>

<app-navbar-top></app-navbar-top>

<app-modal-template [modalTitle]="'Create Ticket'" [modalId]="'event'">
  <ng-template>
    <app-create-event></app-create-event>
  </ng-template>
</app-modal-template>

<app-modal-template [modalTitle]="'Export'" [modalId]="'export'">
  <ng-template>
    <app-export></app-export>
  </ng-template>
</app-modal-template>

<app-modal-template [hideModalTitle]="true" [backgroundColor]="'#f2f4f3'" [modalId]="'list'">
  <ng-template>
    <app-list></app-list>
  </ng-template>
</app-modal-template>
